.sudokuGrid {
    background-color: rgba(255,255,255,0.37);
    width: 500px;
    height: 501px;
}

.sudokuRow {
    padding: 0px;
    margin: 0px;
}

.sudokuCell {
    width: 33.3%;
    height: 33.3%;
    padding: 0px;
    margin: 0px;
}

.sudokuCellGrid {
    height: 100%;
    width: 100%;
}

.sudokuCellRow {
}

.sudokuCellColumn {
    width:33.3%;
    height:33.3%;
    background-color: rgba(255,255,255,0.66);
    padding: 0px;
}

div.cellItemContainer {
}

body {
    /* Image from -> 
       http://wallpaperscraft.com/download/spring_garden_flowering_trees_pink_30537/3840x2400 */
    background: url('../img/sudoku-background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sudokuInput {
    font-family: inherit;
    font-size: 100%;
    text-decoration: none;
    border-radius: 2px;
    width:100%;
    height:100%;
}

.staticSudoku {
    font-family: "Open Sans";
    font-weight: 400;
    font-size:24pt; 
}

.staticSudokuBackground {
    width:100%;
    height:100%;
    margin: -1px;
    background-color: rgba(55, 55, 100, 0.1);
}

.v {
    margin-left: 8px;
    margin-right: 8px;
}

.h {
    margin-top: 8px;
    margin-bottom: 8px;
}

.centered {
    display: table;
    margin: 0 auto;
}

.freeCell {
    width: 80px;
    height: 80px;
}

.ownedByX {
    background-color:rgba(255,0,0,0.2);
}
.ownedByY {
    background-color:rgba(0,0,255,0.2);
}